name: Add sprint tasks to project board

on:
  issues:
    types:
      - opened
      - edited
      - labeled

jobs:
  add-to-project:
    name: Add issue to project
    runs-on: ubuntu-latest
    steps:
      - uses: actions/add-to-project@v0.5.0
        with:
          # You can target a project in a different organization
          # to the issue
          project-url: https://github.com/orgs/appliedagi/projects/5
          github-token: ${{ secrets.PROJECT_AUTOMATION}}
          labeled: bug, sprint-task
          label-operator: OR
